<!-- <div class="w3-margin-left w3-margin-right">
  <div class="logo w3-margin-top w3-margin-bottom w3-padding">
      <div class="w3-bar w3-margin-top bluebar">
          <div class="w3-dropdown-hover"  [routerLinkActive]="['activeClass']">
            <button routerLink="/home" class="w3-button" >Home</button>
            <div  class="w3-dropdown-content w3-bar-block w3-card-4">
              <a routerLink="/home"   class=" w3-bar-item w3-button">Create Credit Brief</a>
              <a routerLink="/holdings" class=" w3-bar-item w3-button">Holdings</a>
              <a routerLink="/ratings" class=" w3-bar-item w3-button">Ratings</a>
              <a routerLink="/creditbrief" [hidden]="true"class=" w3-bar-item w3-button"></a>
            </div> 
          </div>
          <div class="w3-dropdown-hover" [routerLinkActive]="['activeClass']">
            <button routerLink="/add" class="w3-button" >Add</button>
          <div class="w3-dropdown-content w3-bar-block w3-card-4" >
              <a routerLink="/notify" class=" w3-bar-item w3-button">NAV Scheme Threshold</a>
              <a routerLink="/notify-index" class=" w3-bar-item w3-button">Index Threshold Update</a>
            </div> 
          </div>
        </div>
    </div>
</div> -->

<nav class="navbar navbar-inverse bluebar w3-bar">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/home" class="w3-button active"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a routerLink="/add" class="w3-button"><span class="glyphicon glyphicon-plus"></span> Add</a></li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>